span {
    color:green;
}
.class-name {
    color:aquamarine; 
}
#id-name {
    color:blue;
}
* {
    font-size: 20px;
}
a[href] {
    color: pink; 
}
a[href="www.sample.com"] {
    color: brown; 
}

/* Descendant Selector */
.ancestor h3,p {
    color: yellow;
}

/* grouping selector */
h1, .parag, h2 {
    color: rgb(83, 36, 1);
}
/* Pseudo classes */
button:hover {
    color: crimson;
}

/* Pseudo classes */
button:hover {
    color: crimson;
    cursor:grab;
}

/* Pseudo elements */
h3[id="pseudo-element"]{
    color: orange; 
}